body {
  font-family: 'Baloo Bhaina 2', cursive;
}

.title {
  margin: 20px;
}

.icon-custom {
  width: 40px;
}

.badge-custom {
  font-size: 24px;
  position: absolute;
  float: right;
  right: 15px;
  top: 30px;
}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
  h1 {
    font-size: 32px;
  }

  .title {
    margin: 15px;
  }

  .badge-custom {
    font-size: 18px;
    top: 25px;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 24px;
  }

  .title {
    margin: 10px;
  }

  .badge-custom {
    font-size: 15px;
    top: 15px;
  }
}
