body {
  font-family: 'Baloo Bhaina 2', cursive;
}

.bg {
  min-height: 92vh;
}

.title {
  margin: 20px;
}

.icon-custom {
  width: 40px;
}

.badge-box-custom {
  font-size: 22px;
  position: absolute;
  float: right;
  right: 6.3%;
  top: 30px;
}

.badge-custom {
  padding: 6px 10px 3px 10px;
}

.col-table-custom {
  width: 70%;
  margin: 1%;
}

.col-form-custom {
  margin: 1%;
}

.input-custom {
  border: none;
  border-bottom: 1px solid #888888;
  border-radius: 2px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.5);
  margin: -2px;
}

.btn-update, .btn-delete, .btn-cancel {
  width: 30px;
  height: 30px;
  margin: 0px 2px 0px 2px;
  padding: 5px 0px 2px 0px;
}

.form-btn-box {
  text-align: right;
}

.form-btn-add, .form-btn-cancel {
  width: 49%;
  font-size: 14px;
  padding: 5px 0px 2px 0px;
}

.form-btn-add {
  margin-right: 1%
}

.form-btn-cancel {
  margin-left: 1%;
}

.td-name {
  width: 30%;
  padding-left: 5px;
}

.td-course {
  width: 30%;
  padding-left: 5px;
}

.td-grade {
  width: 20%;
  padding-left: 5px;
}

.td-operation {
  width: 20%;
  padding-left: 5px;
}

.omega-footer {
  text-align: center;
  color: navy;
}

@media (max-width: 1199.98px) {
  .badge-box-custom {
    right: 2.5%;
  }
}

@media (max-width: 991.98px) {
  .badge-box-custom {
    right: 1.5%;
  }

  .col-table-custom {
    width: 100%;
    margin: 1%;
  }

  .col-form-custom {
    width: 100%;
    margin: 1%;
  }

  .form-btn-box {
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  html {
    font-size: 14px;
  }

  h2 {
    margin-top: 20px;
    font-size: 32px;
  }

  .title {
    margin: 15px;
  }

  .badge-box-custom {
    font-size: 18px;
    top: 25px;
  }

  .td-name {
    width: 25%;
    font-size: 14px;
  }

  .td-course {
    width: 25%;
    font-size: 14px;
  }

  .td-grade {
    width: 10%;
    font-size: 14px;
  }

  .td-operation {
    width: 25%;
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }

  h2 {
    font-size: 24px;
  }

  .title {
    margin: 10px;
  }

  .badge-box-custom {
    font-size: 15px;
    top: 15px;
  }
}
